* {
    box-sizing: border-box;
}

h1 {
    color: #554231;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}
.container {
    width: 100px;
    padding: 50px;
}
body {
    background-image: url(./images/green.jpg);
    background-size: cover;
    background-color: rgba(255,255,255,0.1);
}
.container img {
    widows: 1100px;
    height: 570px;
}

@media screen and ( max-width:670px )

.container h1 {
    color: light brown;
}
.container img {
    text-align: center;
}
body::befotre {
    content: "";
    background: url(./images/green.jpg) no-repeat center center;
    background-size: cover;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transform: translateZ(0);
}
